/*  div{
    display: flex;
    gap : 10px;
    padding-left: 40%;
    width: auto;
  }
  div p{
    text-align: center;
  }
*/
.planche{
  display: flex;
  margin: auto;
  width: 50%;
  height: 50vh;
  gap: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: burlywood;
}
.baton{
  width: 10px;
  background-color: black;
  height: 40px;
}